* {
	padding: 0px;
	margin: 0px;
}
header {
	padding: 2rem;
}
.flex {
	display: flex;
}
header,
footer {
	background-color: beige;
	text-align: center;
}
footer {
	padding: 1rem;
}
ul {
	list-style: none;
	/* display: flex; */
}
li {
	border-bottom: solid 1px black;
}
aside {
	width: 30%;
	margin: 1rem;
}
aside p {
	margin: 1rem;
}
p {
	margin: 1rem;
}
#container {
	display: flex;
	background-color: white;
}
#main {
	padding-top: 2rem;
}
body {
	background-color: rgb(154, 154, 71);
	padding: 1rem 5rem;
}
a {
	text-decoration: none;
	color: black;
}
